*{
  font-family: 'Raleway', sans-serif;
}

.body{
  width: 100%;
}
/* -----------------------------------------------------header------------------------------------------------------------------------------------------ */
.header{
  display: flex;
  justify-content: space-between;
  margin-left: 3%
  
}

.header-text-right{
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  
  
  
}

 .hebergement{
  margin-right: 40%;
  text-decoration: none;
}
.hebergement:hover {
  color: #0065FC;
}

.texte-en-tete{
  margin-top: 3%;
  margin-left: 3%
  

}
/* --------------------------------------------------search-bar--------------------------------------------------------------------------- */
.search-bar{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 3%
  
  
}

#icon{

  border-color:#F2F2F2;
  border-style: solid;
  border-top-left-radius: 12px;
  border-bottom-left-radius:12px ;
  height: 28px;
  width: 18pxpx;
  background-color: #F2F2F2;
  font-size: 24px;
 
  
}

.search{
  height: 34px;
  width: 15%;
  border-style:solid;
  border-color: #F2F2F2;
  

}
.button-search{
  background-color: #0065FC;
  color: white;
  height: 34px;
  border-top-right-radius: 12px;
  border-bottom-right-radius:12px ;
  font-family: 'Raleway', sans-serif;
  margin-left:-3%;
  border-style:solid;
  border-color: #F2F2F2;
  
}

.button-search:hover{
  background-color: #DEEBFF;
  transition:1s;
  color:#0065FC;
}
/* ---------------------------------------------------filtre------------------------------------------------------------------ */

.filtres{
  display: flex;
  font-family: 'Raleway', sans-serif;
  flex-direction: row;
  margin-left: 3%;
  
  
  
}

#p-filtre{
  margin-right: 3%;
}


#icon-filtre{
  border-style: solid;
  border-radius: 50%;
  border-color: #DEEBFF;
  font: weight 600;
  background-color:#DEEBFF;
  color:#0065FC;
  border-top-width: 16px;
  border-right-width: 16px;
  border-left-width: 16px;
  border-bottom-width: 16px;
  display: flex;
  align-items: center;
  margin-left: -4px;

}

.filtre-et-icon{
display: flex;
flex-direction: row;
border-style: solid;
border-radius: 24px;
border-width: 2px;
border-color: #F2F2F2;
font: weight 600;
font-family: 'Raleway', sans-serif;
justify-content: center;
display: flex;
margin-right: 5%;


}



.filtre-et-icon:hover{
  background-color: #DEEBFF;
  transition:1s;
  color:#0065FC;
}
/* ------------------------------------------------ information--------------------------------------------------------------------------------- */

.information{
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

#text-information{
  margin-top: 12px;
  margin-left: 1%;
}

#information-icon{
  margin-top: 12px;
  font: weight 900;
  color:#0065FC;
}
/* ---------------------------------------------------------------------containers------------------------------------------------------------------------ */
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
  height: 85%;
  
}

.container-1{
  background-color: #F2F2F2;
  width: 60%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right:5%;
  
  
}
.container-right{
  background-color: #F2F2F2;
  width: 30%;
  height:100%;
  border-radius: 12px;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  
}

.text-h2{
  width: 100%;
  height: auto;
  display: flex;  
  justify-content: start;
  margin-left: 2%;
  

}
/* -------------------------------------------------card 1 --------------------------------------------------------------------------------------- */
.background-card{
  background-color: white;
  width: 30%;
  height: 200px;
  border-radius: 12px;
  margin-top: 5%;
  margin-bottom: 5%;
}
  
.card-trip{
  width: 96%;
  margin: 2%;
  height: 90%;  
}



.card-trip > img {
  height: 70%;
  width: 100%;
  object-fit:cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-trip-infos{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 14px
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

}
.etoile-icon{
  color:#0065FC;
  font-size: 10px;
}
/* -------------------------------------------------card 2(right)------------------------------------------------------------------------------ */


.text-container-right{
  width: 100%;
  height: auto;
  display: flex;  
  justify-content: start;
}
#text-les-plus-populaire{
  margin-left: 4%;
}
.card-column{
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 10%;
}
.card-product-infos{
  padding-left: 1.5%;
}
.card-product {
  width: 90%;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-top: 13%;
  margin-bottom: 12%;
  
}

.card-product img {
  height: 90%;
  width: 25%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: 1%;
  margin-left: 2%;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;

}
/* ------------------------------------------------------------activité marseille---------------------------------------------------------- */
.text-activité-marseille{
  margin-top: 50px;
  margin-left: -0.2%;
  margin-left: 3%;
}
.container-activite{
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  align-items: baseline;
  display: flex;
}
/* ---------------------------------------------------------------------------grande--card--------------------------------------------------------- */
.background-card-activite{
  background-color: white;
  width: 25%;
  height: 500px;
  border-radius: 12px;
  margin-top: 0%;
  margin-bottom: 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  
}
.card-activite{
  width: 100%;
}

.card-activite > img {
  height: 90%;
  width: 100%;
  object-fit:cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;  
}

.card-activite h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  
}
/* ------------------------------------------------------------petite card ----------------------------------------------------------------- */
.column-card{
  display: flex;
  flex-direction: column;
  width: 23.5%;
  margin-bottom:auto;
  height: 515px;

  
}

.background-petite-card-activite{
  background-color: white;
  width: 80%;
  height: 280px;
  border-radius: 12px;
  margin-bottom: 24px;
  margin-left: 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}
.petit-card-activite{
  width: 100%;
}

.petit-card-activite > img {
  height: 85%;
  width: 100%;
  object-fit:cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  
}

.petit-card-activite h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
/* -----------------------------------------------------------------------mini-card--------------------------------------------------------- */


.background-mini-card-activite{
  background-color: white;
  width: 80%;
  height: 190px;
  border-radius: 12px;
  margin-top: 7px;
  margin-left: 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.mini-card-activite{
  width: 100%;
}
.mini-card-activite > img {
  height: 80%;
  width: 100%;
  object-fit:cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
  
}

.mini-card-activite h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
/* ------------------------------------------------------moyenne card activite------------------------------------------------------------------ */
.background-moyenne-card-activite{
  background-color: white;
  height: 240px;
  border-radius: 12px;
  margin-bottom: 17px;
  margin-left: 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  
}
.moyenne-card-activite{
  width: 100%;
}

.moyenne-card-activite > img {
  height: 80%;
  width: 100%;
  object-fit:cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
  
}


.moyenne-card-activite h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
/* ----------------------------------------------footer---------------------------------------------------------------------------------------- */

.footer{
  background-color: #F2F2F2;
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: baseline;
  
}
.text-footer{
  padding-top: 40px;
  width: 100%;
  padding-left: 1%;
}